.main-div{
    background-color: rgb(26 53 44 / 99%);
}

.image img{
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.logo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    top: 100px;
    max-width: 6%;
}
.random {
    max-width: 50%;
    margin-left: 290px;
    margin-top: 7px;
    border-radius: 8px !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 56px;
}

.icon{
    align-items: center !important;
    display: inline;
    margin-left: 40%;
}
.icon img {

    max-width: 7%;
    margin-top: 30px;
    margin-right: 38px;
   
   display: inline;
}
.icon img :hover{
    background-color: burlywood;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    max-width: 7%;
    margin-top: 30px;
    margin-right: 38px;
   
   display: inline;
}

.description{
    margin-top: 20px;
    text-align:center;
font-size: 14px;
color: burlywood;
}
